#clock {
  position: relative;
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
  padding: 0;
  background: url('img/clock.svg') center no-repeat;
  background-size: contain;
  list-style: none;
}

.sec, 
.min, 
.hr {
  position: absolute;
  width: 4vw;
  height: 15vw;
  top: 0px;
  left: calc(50% - 2vw);
}

.sec {
  background-image: url('img/seconds.svg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  z-index: 3;
}

.min {
  background-image: url('img/minutes.svg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  z-index: 2;
}

.hr {
  background-image: url('img/hours.svg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  z-index: 1;
}